@{
    ViewData["Title"] = "Create new Product";
    var newProduct = new Product();


    string Name = string.Empty;
    decimal Price = 0;
}

<h1>@ViewData["Title"]</h1>

<form method="post" asp-controller="Product" asp-action="Create">
  <div class="mb-3">
    <label class="form-label" asp-for="@Name">Name</label>
    <input class="form-control" asp-for="@Name">
  </div>
  <div class="mb-3">
    <label class="form-label" asp-for="@Price">Price</label>
    <input class="form-control" asp-for="@Price">
  </div>
  <button type="submit" class="btn btn-success">Create</button>
</form>